{% extends 'base.html.twig' %}

{% block title %}<title>Ajouter une Adresse | Arsenal Pro</title>{% endblock %}

{% block content %}
    {% if lapageroute == "app_account_address_edit" %}
        {{ render(controller('App\\Controller\\HomeController::banniereShow',{ 'titre': "Modifier une adresse", 'section' : 0, 'multi' : false})) }}
    {% else %}
        {{ render(controller('App\\Controller\\HomeController::banniereShow',{ 'titre': "Ajouter une adresse", 'section' : 0, 'multi' : false})) }}
    {% endif %}
    <a href="{{ path('app_account') }}"><i class="fa-solid fa-arrow-left"></i> Retour mon espace client</a>

    <hr>
    {{ form_start(form) }}

    <div class=" row">
        <div class="col-md-12">{{ form_row(form.name) }}</div>
        <div class="col-md-6">{{ form_row(form.firstname) }}</div>
        <div class="col-md-6">{{ form_row(form.lastname) }}</div>
        <div class="col-md-6">{{ form_row(form.company) }}</div>
        <div class="col-md-6">{{ form_row(form.adress) }}</div>
        <div class="col-md-6">{{ form_row(form.postal) }}</div>
        <div class="col-md-6">{{ form_row(form.city) }}</div>
        <div class="col-md-6">{{ form_row(form.country) }}</div>
        <div class="col-md-6">{{ form_row(form.phone) }}</div>
        <div class="col-md-12">{{ form_row(form.submit) }}</div>
        

    </div>


    {{ form_end(form) }}

{% endblock %}

