{% extends 'base.html.twig' %}

{% block title %}<title>Modifiez le mot de passe du compte</title>{% endblock %}

{% block content %}
    {{ render(controller('App\\Controller\\HomeController::banniereShow',{ 'titre': "Modifier votre mot de passe", 'section' : 1})) }}

    <a href="{{ path('app_account') }}"><i class="fa-solid fa-arrow-left"></i> Retour vers mon espace client</a>

    <hr>
    {% if notification %}
        <div class="alert alert-info" >{{ notification }}</div>
    {% endif %}
    <br>
    {{ form_start(form) }}
        {{form_row(form.email)}}
        <section id="nom_user_app_reset_pa">
            {{form_row(form.firstname)}}
            <g></g>
            {{form_row(form.lastname)}}
        </section>
        {{form_row(form.old_password)}}
        {{form_row(form.new_password)}}
        <span class="text-info">* informations obligatoires</span>
        {{form_row(form.submit)}}
    {{ form_end(form) }}

{% endblock %}
