 <div class="row container">
        <div class="col-md-4">
            <h3>Nos filtres</h3>
            <section class="partie-filtres">
                <div class="btn btn-block btn-filtre">Catégories<div class="arrow fa-solid fa-chevron-down"></div></div>
                <div class="filtres" id="partie-categorie">
                    <legend>Nos catégories</legend>
                    <div>{{form_row(form.categories)}}</div>
                </div>
                <div class="btn btn-block btn-filtre mt-3">Marques<div class="arrow fa-solid fa-chevron-down"></div></div>
                <div class="filtres" id="partie-marque">
                    <legend>Nos marques</legend>
                    <div>{{form_row(form.marques)}}</div>
                </div>
                <div class="btn btn-block btn-filtre mt-3">Prix<div class="arrow fa-solid fa-chevron-down"></div></div>
                <div class="filtres" id="partie-prix">
                    <legend>Prix</legend>
                    <div class="prixaffiche">
                        <span id="displayminprix"></span>
                        <span id="displaymaxprix"></span>
                    </div>
                    <div class="d-flex align-items-start middle">
                        <div class="multi-range-slider">
                            {{form_row(form.minprice)}}
                            {{form_row(form.maxprice)}} 
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mt-2 btn btn-block btn-filtre mt-3" id="reset_filtre">Réinitialiser les filtres</div>
                </div>
                <div class="mt-2">
                    {{form_row(form.submit)}}
                </div>   
            </section>
            {{form_end(form)}}
        </div>