{% extends 'base.html.twig' %}

{% block title %}<title>Nos prestations | Arsenal Pro</title>{% endblock %}
{% block annonce %} {% endblock %}
{% block content %}
{{ render(controller('App\\Controller\\HomeController::banniereShow',{ 'titre': "Nos prestations", 'section' : 1, 'multi': false })) }}
<p>Nos prestations seront effectuées dans nos ateliers, <b>à Chens-sur-Léman.</b></p>
<div class="row">
{% for prestation in prestations %}
            <div class="produitbox col-md-4 ">
                <div class="produit-item text-center" id="{{ prestation.id }}">
                    <div class="d-flex align-items-center justify-content-center" style="height: 20vh;">
                            <a href="{{ path('app_produit',{'slug': prestation.slug}) }}">
                                <i class="fa-solid fa-eye position-absolute"></i>
                                <img loading="lazy" src="/uploads/{{ prestation.illustration }}" alt="{{ prestation.name|raw }}" class="img-fluid"
                                    draggable="false"></a>
                    </div>
                    <section class="section-ensous">
                        <h4 class="mb-2" style="font-size: 1rem;">{{ prestation.name|raw }}</h4>
                        <article class="position-relative d-flex produit-price-section">
                            <span class="produit-price d-flex prixpromo">{{ (prestation.price / 100)|number_format(2) }}
                                €</span>
                        </article>
                        <div class="position-relative">
                            <a href="{{ path('add_to_cart',{'id' : prestation.id}) }}" class="btn btn-primary position-relative mb-3"><i
                                    class="fa-solid fa-cart-arrow-down"></i> Ajouter au panier</a>
                        </div>
                    </section>
                </div>

            </div>
{% endfor %}
    </div>
{% endblock %}
